In [5]:
import pandas as pd
import numpy as np

In [6]:
locations = [
    {
        "name": "CHOSTUS HOTEL",
        "color": "#984ea3"
    },
    {
        "name": "Sannan Park",
        "color": "#4daf4a"
    },
    {
        "name": "Arkadiou Park",
        "color": "#4daf4a"
    },
    {
        "name": "Taxiarchon Park",
        "color": "#4daf4a"
    },
    {
        "name": "AHAGGO MUSEUM",
        "color": "#f781bf"
    },
    {
        "name": "Spetson Park",
        "color": "#4daf4a"
    },
    {
        "name": "Desafio Golf Course",
        "color": "#4daf4a"
    },
    {
        "name": "Parla Park",
        "color": "#4daf4a"
    },
    {
        "name": "Frydos autosupply n' more",
        "color": "#ff7f00"
    },
    {
        "name": "Brew've Been Served",
        "color": "#984ea3"
    },
    {
        "name": "KATERINA'S CAFE",
        "color": "#984ea3"
    },
    {
        "name": "GUY'S GYROS",
        "color": "#984ea3"
    },
    {
        "name": "Hallowed Grounds",
        "color": "#984ea3"
    },
    {
        "name": "Coffee cameleon",
        "color": "#984ea3"
    },
    {
        "name": "Nationwide Refinery",
        "color": "#ff7f00"
    },
    {
        "name": "CARLYLE CHEMICAL INC.",
        "color": "#ff7f00"
    },
    {
        "name": "ABILA HOSPITAL",
        "color": "#f781bf"
    },
    {
        "name": "Cup e' Joe",
        "color": "#984ea3"
    },
    {
        "name": "Ouzeri Elian",
        "color": "#984ea3"
    },
    {
        "name": "Jack's magical beans",
        "color": "#984ea3"
    },
    {
        "name": "U-Pump",
        "color": "#ff7f00"
    },
    {
        "name": "COFFEE SNACK",
        "color": "#984ea3"
    },
    {
        "name": "Albert's fine clothing",
        "color": "#377eb8"
    },
    {
        "name": "Bean There Done That",
        "color": "#984ea3"
    },
    {
        "name": "ABILA SCRAP",
        "color": "#ff7f00"
    },
    {
        "name": "Frank's Fuel",
        "color": "#ff7f00"
    },
    {
        "name": "GAS Tech",
        "color": "#a65628"
    },
    {
        "name": "Port Of Abila",
        "color": "#e41a1c"
    },
    {
        "name": "Gelato Galore",
        "color": "#984ea3"
    },
    {
        "name": "Carly's Coffee",
        "color": "#984ea3"
    },
    {
        "name": "General Grocer",
        "color": "#377eb8"
    },
    {
        "name": "ROBERTS AND SONS",
        "color": "#999999"
    },
    {
        "name": "Kronos Mart",
        "color": "#377eb8"
    },
    {
        "name": "Abila Park",
        "color": "#4daf4a"
    },
    {
        "name": "Abila Park",
        "color": "#4daf4a"
    },
    {
        "name": "KRONOS CAPITOL",
        "color": "#f781bf"
    },
    {
        "name": "Pilau Park",
        "color": "#4daf4a"
    },
    {
        "name": "MAXIMUM IRON AND STILL",
        "color": "#ff7f00"
    },
    {
        "name": "Abila Airport",
        "color": "#e41a1c"
    },
    {
        "name": "",
        "color": "#ffff33"
    }
]

In [7]:
for i in range(len(locations)):
    locations[i] = {"name": locations[i]["name"].lower().replace(' ', ''),
                   "color": locations[i]["color"]}

In [8]:
locations

[{'name': 'chostushotel', 'color': '#984ea3'},
 {'name': 'sannanpark', 'color': '#4daf4a'},
 {'name': 'arkadioupark', 'color': '#4daf4a'},
 {'name': 'taxiarchonpark', 'color': '#4daf4a'},
 {'name': 'ahaggomuseum', 'color': '#f781bf'},
 {'name': 'spetsonpark', 'color': '#4daf4a'},
 {'name': 'desafiogolfcourse', 'color': '#4daf4a'},
 {'name': 'parlapark', 'color': '#4daf4a'},
 {'name': "frydosautosupplyn'more", 'color': '#ff7f00'},
 {'name': "brew'vebeenserved", 'color': '#984ea3'},
 {'name': "katerina'scafe", 'color': '#984ea3'},
 {'name': "guy'sgyros", 'color': '#984ea3'},
 {'name': 'hallowedgrounds', 'color': '#984ea3'},
 {'name': 'coffeecameleon', 'color': '#984ea3'},
 {'name': 'nationwiderefinery', 'color': '#ff7f00'},
 {'name': 'carlylechemicalinc.', 'color': '#ff7f00'},
 {'name': 'abilahospital', 'color': '#f781bf'},
 {'name': "cupe'joe", 'color': '#984ea3'},
 {'name': 'ouzerielian', 'color': '#984ea3'},
 {'name': "jack'smagicalbeans", 'color': '#984ea3'},
 {'name': 'u-pump', 'color': '#ff7f00'},
 {'name': 'coffeesnack', 'color': '#984ea3'},
 {'name': "albert'sfineclothing", 'color': '#377eb8'},
 {'name': 'beantheredonethat', 'color': '#984ea3'},
 {'name': 'abilascrap', 'color': '#ff7f00'},
 {'name': "frank'sfuel", 'color': '#ff7f00'},
 {'name': 'gastech', 'color': '#a65628'},
 {'name': 'portofabila', 'color': '#e41a1c'},
 {'name': 'gelatogalore', 'color': '#984ea3'},
 {'name': "carly'scoffee", 'color': '#984ea3'},
 {'name': 'generalgrocer', 'color': '#377eb8'},
 {'name': 'robertsandsons', 'color': '#999999'},
 {'name': 'kronosmart', 'color': '#377eb8'},
 {'name': 'abilapark', 'color': '#4daf4a'},
 {'name': 'abilapark', 'color': '#4daf4a'},
 {'name': 'kronoscapitol', 'color': '#f781bf'},
 {'name': 'pilaupark', 'color': '#4daf4a'},
 {'name': 'maximumironandstill', 'color': '#ff7f00'},
 {'name': 'abilaairport', 'color': '#e41a1c'},
 {'name': '', 'color': '#ffff33'}]

In [9]:
locations = pd.DataFrame(locations)
gps = pd.read_csv('public/gps.csv')
car_assignments = pd.read_csv('public/car-assignments.csv')
cc_data = pd.read_csv('public/cc_data.csv', encoding = 'iso-8859-1')
loyalty_data = pd.read_csv('public/loyalty_data.csv', encoding = 'iso-8859-1')

In [4]:
gps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685169 entries, 0 to 685168
Data columns (total 4 columns):
Timestamp    685169 non-null object
id           685169 non-null int64
lat          685169 non-null float64
long         685169 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 20.9+ MB

In [5]:
car_assignments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 5 columns):
LastName                  44 non-null object
FirstName                 44 non-null object
CarID                     35 non-null float64
CurrentEmploymentType     44 non-null object
CurrentEmploymentTitle    44 non-null object
dtypes: float64(1), object(4)
memory usage: 1.8+ KB

In [6]:
cc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 5 columns):
timestamp    1491 non-null object
location     1491 non-null object
price        1491 non-null float64
FirstName    1491 non-null object
LastName     1491 non-null object
dtypes: float64(1), object(4)
memory usage: 58.4+ KB

In [7]:
loyalty_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393 entries, 0 to 1392
Data columns (total 5 columns):
timestamp    1393 non-null object
location     1393 non-null object
price        1393 non-null float64
FirstName    1393 non-null object
LastName     1393 non-null object
dtypes: float64(1), object(4)
memory usage: 54.5+ KB

In [13]:
car_assignments[car_assignments.CarID.isna()]

     LastName FirstName  CarID CurrentEmploymentType CurrentEmploymentTitle
35      Hafon    Albina    NaN            Facilities           Truck Driver
36    Hawelon    Benito    NaN            Facilities           Truck Driver
37    Hawelon   Claudio    NaN            Facilities           Truck Driver
38       Mies      Henk    NaN            Facilities           Truck Driver
39     Morlun   Valeria    NaN            Facilities           Truck Driver
40     Morlun      Adan    NaN            Facilities           Truck Driver
41  Morluniau   Cecilia    NaN            Facilities           Truck Driver
42       Nant     Irene    NaN            Facilities           Truck Driver
43   Scozzese     Dylan    NaN            Facilities           Truck Driver

In [14]:
pd.set_option('display.max_rows', 10)
car_assignments

     LastName FirstName  CarID   CurrentEmploymentType CurrentEmploymentTitle
0     Alcazar     Lucas    1.0  Information Technology            IT Helpdesk
1       Azada      Lars    2.0             Engineering               Engineer
2       Balas     Felix    3.0             Engineering               Engineer
3    Barranco    Ingrid    4.0               Executive                SVP/CFO
4        Baza      Isak    5.0  Information Technology          IT Technician
..        ...       ...    ...                     ...                    ...
39     Morlun   Valeria    NaN              Facilities           Truck Driver
40     Morlun      Adan    NaN              Facilities           Truck Driver
41  Morluniau   Cecilia    NaN              Facilities           Truck Driver
42       Nant     Irene    NaN              Facilities           Truck Driver
43   Scozzese     Dylan    NaN              Facilities           Truck Driver

[44 rows x 5 columns]

In [15]:
names_dict = dict(zip(car_assignments.LastName, car_assignments.CarID))
names_dict

{'Alcazar': 1.0,
 'Azada': 2.0,
 'Balas': 3.0,
 'Barranco': 4.0,
 'Baza': 5.0,
 'Bergen': 6.0,
 'Borrasca': 7.0,
 'Calixto': 8.0,
 'Calzas': 9.0,
 'Campo-Corrente': 10.0,
 'Cazar': 11.0,
 'Cocinaro': 12.0,
 'Ferro': 13.0,
 'Dedos': 14.0,
 'Bodrogi': 15.0,
 'Vann': 34.0,
 'Flecha': 17.0,
 'Frente': 19.0,
 'Fusil': 20.0,
 'Osvaldo': 21.0,
 'Herrero': 22.0,
 'Lagos': 23.0,
 'Mies': nan,
 'Nubarron': 25.0,
 'Onda': 26.0,
 'Orilla': 28.0,
 'Ovan': 29.0,
 'Resumir': 30.0,
 'Sanjorge Jr.': 31.0,
 'Strum': 32.0,
 'Tempestad': 33.0,
 'Vasco-Pais': 35.0,
 'Hafon': nan,
 'Hawelon': nan,
 'Morlun': nan,
 'Morluniau': nan,
 'Nant': nan,
 'Scozzese': nan}

In [16]:
group = gps.groupby("id")["Timestamp", "lat", "long"].agg(lambda x: list(x))

<ipython-input-16-1dfe38bcf64f>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  group = gps.groupby("id")["Timestamp", "lat", "long"].agg(lambda x: list(x))

In [17]:
group

,Timestamp,lat,long
id,,,
1,"[01/06/2014 07:20:01, 01/06/2014 07:20:03, 01/...","[36.066457, 36.06634441, 36.066146999999994, 3...","[24.88258237, 24.88258921, 24.88258397, 24.882..."
2,"[01/06/2014 07:30:01, 01/06/2014 07:30:01, 01/...","[36.08545957, 36.08550638, 36.08544892, 36.085...","[24.86037898, 24.860381699999998, 24.86022256,..."
3,"[01/06/2014 07:19:01, 01/06/2014 07:19:04, 01/...","[36.0866807, 36.08662352, 36.08664181, 36.0866...","[24.85762836, 24.85742898, 24.85726684, 24.857..."
4,"[01/06/2014 06:33:01, 01/06/2014 06:33:01, 01/...","[36.07820944, 36.07819206, 36.0782097, 36.0781...","[24.87214094, 24.87205572, 24.87194836, 24.871..."
5,"[01/06/2014 07:59:01, 01/06/2014 07:59:07, 01/...","[36.06730309, 36.06735541, 36.06733524, 36.067...","[24.8778979, 24.87757989, 24.87745793, 24.8774..."
...,...,...,...
101,"[01/06/2014 07:36:01, 01/06/2014 07:36:01, 01/...","[36.04802745, 36.04807266, 36.04812822, 36.048...","[24.87957667, 24.87957652, 24.87957357, 24.879..."
104,"[01/06/2014 10:32:33, 01/06/2014 10:32:33, 01/...","[36.04802836, 36.04811117, 36.04820538, 36.048...","[24.879574800000004, 24.87957595, 24.87957466,..."
105,"[01/07/2014 08:50:54, 01/07/2014 08:50:54, 01/...","[36.04802816, 36.04807319, 36.0481277, 36.0481...","[24.87956681, 24.879572, 24.87957035, 24.87957..."
106,"[01/07/2014 12:25:50, 01/07/2014 12:25:50, 01/...","[36.04802843, 36.04811248, 36.04820482, 36.048...","[24.87956736, 24.87956721, 24.87957407, 24.879..."
107,"[01/06/2014 08:46:20, 01/06/2014 08:46:20, 01/...","[36.04803001, 36.04808113, 36.048127, 36.04817...","[24.87957636, 24.87956513, 24.87956961, 24.879..."

In [18]:
from datetime import datetime
import tqdm as tqdm

In [35]:
names = car_assignments.LastName.unique()
results = []

for i in tqdm.tqdm(cc_data.index):
    timestamp = cc_data.iloc[i].timestamp
    date = datetime.strptime(timestamp, "%m/%d/%Y %H:%M")
    location = cc_data.iloc[i].location
    price = cc_data.iloc[i].price
    first_name = cc_data.iloc[i].FirstName
    last_name = cc_data.iloc[i].LastName

    if last_name in names and not np.isnan(names_dict[last_name]):
        row = group.iloc[int(names_dict[last_name])]

        j_min = np.inf
        t_min = np.inf

        for j in range(len(row.Timestamp)):
            d = datetime.strptime(row.Timestamp[j], "%m/%d/%Y %H:%M:%S")
            diff = abs(date-d).total_seconds()
            if(diff < 1800 and diff < t_min):
                j_min = j
                t_min = abs(date-d).total_seconds()

        #print(date, datetime.strptime(row.Timestamp[j_min], "%m/%d/%Y %H:%M:%S"), t_min)
            
        if(j_min != np.inf):
            results.append((timestamp, location, price, names_dict[last_name], first_name, last_name, row.lat[j_min], row.long[j_min]))

100%|██████████| 1491/1491 [11:03<00:00,  2.25it/s]

In [36]:
df = pd.DataFrame (results, columns=['timestamp', 'location', 'price', 'CarID', 'FirstName', 'LastName', 'lat', 'long'])
df.head()

,timestamp,location,price,CarID,FirstName,LastName,lat,long
0,1/6/2014 7:28,Brew've Been Served,11.34,34.0,Edvard,Vann,36.048021,24.879570
1,1/6/2014 7:34,Hallowed Grounds,52.22,12.0,Hideki,Cocinaro,36.054110,24.901237
2,1/6/2014 7:35,Brew've Been Served,8.33,20.0,Stenig,Fusil,36.054126,24.901170
3,1/6/2014 7:36,Hallowed Grounds,16.72,19.0,Birgitta,Frente,36.054092,24.901244
4,1/6/2014 7:37,Brew've Been Served,4.24,17.0,Sven,Flecha,36.063707,24.885893

In [37]:
df = df.dropna()

In [38]:
df.to_csv('cc_data_processed.csv')

In [136]:
results = []

for i in tqdm.tqdm(loyalty_data.index):
    timestamp = loyalty_data.iloc[i].timestamp
    date = datetime.strptime(timestamp, "%m/%d/%Y %H:%M")
    location = loyalty_data.iloc[i].location
    price = loyalty_data.iloc[i].price
    first_name = loyalty_data.iloc[i].FirstName
    last_name = loyalty_data.iloc[i].LastName

    if last_name in names and not np.isnan(names_dict[last_name]):
        row = group.iloc[int(names_dict[last_name])]

        j_min = np.inf
        t_min = np.inf

        for j in range(len(row.Timestamp)):
            d = datetime.strptime(row.Timestamp[j], "%m/%d/%Y %H:%M:%S")
            if(abs(date-d).seconds < t_min):
                j_min = j
                t_min = abs(date-d).seconds
        
        results.append((timestamp, location, price, names_dict[last_name], first_name, last_name, row.lat[j_min], row.long[j_min]))

  0%|          | 0/1393 [00:00<?, ?it/s]

ValueError: time data '1/6/2014' does not match format '%m/%d/%Y %H:%M'

In [ ]:
df = pd.DataFrame (results, columns=['timestamp', 'location', 'price', 'CarID', 'FirstName', 'LastName', 'lat', 'long'])
df.head()

In [10]:
locations_ = locations.groupby(['color']).agg(lambda x: list(x)).reset_index()

In [11]:
locations_

     color                                               name
0  #377eb8  [albert'sfineclothing, generalgrocer, kronosmart]
1  #4daf4a  [sannanpark, arkadioupark, taxiarchonpark, spe...
2  #984ea3  [chostushotel, brew'vebeenserved, katerina'sca...
3  #999999                                   [robertsandsons]
4  #a65628                                          [gastech]
5  #e41a1c                        [portofabila, abilaairport]
6  #f781bf       [ahaggomuseum, abilahospital, kronoscapitol]
7  #ff7f00  [frydosautosupplyn'more, nationwiderefinery, c...
8  #ffff33                                                 []

In [12]:
locations_.replace(to_replace="#377eb8", value="Shop", inplace=True)
locations_.replace('#999999', 'Unknown', inplace=True)
locations_.replace('#e41a1c', 'transportation', inplace=True)
locations_.replace('#a65628', 'GAStech', inplace=True)
locations_.replace('#ffff33', 'Uncertain', inplace=True)
locations_.replace('#ff7f00', 'SpecialGoods', inplace=True)
locations_.replace('#4daf4a', 'Park', inplace=True)
locations_.replace('#984ea3', 'Restaurant', inplace=True)
locations_.replace('#f781bf', 'SpecialMeeting', inplace=True)

In [13]:
locations_ = locations_.set_index('color')

In [14]:
locations_

                                                             name
color
Shop            [albert'sfineclothing, generalgrocer, kronosmart]
Park            [sannanpark, arkadioupark, taxiarchonpark, spe...
Restaurant      [chostushotel, brew'vebeenserved, katerina'sca...
Unknown                                          [robertsandsons]
GAStech                                                 [gastech]
transportation                        [portofabila, abilaairport]
SpecialMeeting       [ahaggomuseum, abilahospital, kronoscapitol]
SpecialGoods    [frydosautosupplyn'more, nationwiderefinery, c...
Uncertain                                                      []

In [18]:
locations_ =locations_.assign(color=locations_['name'].str.split(',')).explode('name')

In [34]:
locations_.drop(columns=["color"]).to_dict(orient="series")

{'name': color
 Shop                albert'sfineclothing
 Shop                       generalgrocer
 Shop                          kronosmart
 Park                          sannanpark
 Park                        arkadioupark
 Park                      taxiarchonpark
 Park                         spetsonpark
 Park                   desafiogolfcourse
 Park                           parlapark
 Park                           abilapark
 Park                           abilapark
 Park                           pilaupark
 Restaurant                  chostushotel
 Restaurant             brew'vebeenserved
 Restaurant                katerina'scafe
 Restaurant                    guy'sgyros
 Restaurant               hallowedgrounds
 Restaurant                coffeecameleon
 Restaurant                      cupe'joe
 Restaurant                   ouzerielian
 Restaurant            jack'smagicalbeans
 Restaurant                   coffeesnack
 Restaurant             beantheredonethat
 Restaurant                  gelatogalore
 Restaurant                 carly'scoffee
 Unknown                   robertsandsons
 GAStech                          gastech
 transportation               portofabila
 transportation              abilaairport
 SpecialMeeting              ahaggomuseum
 SpecialMeeting             abilahospital
 SpecialMeeting             kronoscapitol
 SpecialGoods      frydosautosupplyn'more
 SpecialGoods          nationwiderefinery
 SpecialGoods         carlylechemicalinc.
 SpecialGoods                      u-pump
 SpecialGoods                  abilascrap
 SpecialGoods                 frank'sfuel
 SpecialGoods         maximumironandstill
 Uncertain
 Name: name, dtype: object}

In [14]:
joined_cc = pd.merge(cc_data, car_assignments, left_on=['FirstName', 'LastName'], right_on=['FirstName', 'LastName'])

In [15]:
category = []
for i in joined_cc.index:
    row = joined_cc[joined_cc.index == i]
    
    #rint(row.location[i])
    val = locations_[locations_.eq(row['location'][i].lower().replace(' ','')).any(1)].index.values
    if val.size > 0:
        category.append(val[0])
    else:
        category.append('Uncertain')

C:\Users\falle\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [16]:
joined_cc['Category'] = category

In [17]:
joined_cc

,timestamp,location,price,FirstName,LastName,CarID,CurrentEmploymentType,CurrentEmploymentTitle,Category
0,1/6/2014 7:28,Brew've Been Served,11.34,Edvard,Vann,34.0,Security,Perimeter Control,Restaurant
1,1/6/2014 13:23,Hippokampos,13.26,Edvard,Vann,34.0,Security,Perimeter Control,Uncertain
2,1/7/2014 7:33,Brew've Been Served,7.09,Edvard,Vann,34.0,Security,Perimeter Control,Restaurant
3,1/7/2014 13:33,Kalami Kafenion,18.06,Edvard,Vann,34.0,Security,Perimeter Control,Uncertain
4,1/7/2014 20:10,Guy's Gyros,26.82,Edvard,Vann,34.0,Security,Perimeter Control,Restaurant
...,...,...,...,...,...,...,...,...,...
1179,1/17/2014 7:56,Hallowed Grounds,9.72,Sten,Sanjorge Jr.,31.0,Executive,President/CEO,Restaurant
1180,1/17/2014 13:28,Abila Zacharo,15.95,Sten,Sanjorge Jr.,31.0,Executive,President/CEO,Uncertain
1181,1/18/2014 12:03,Chostus Hotel,600.00,Sten,Sanjorge Jr.,31.0,Executive,President/CEO,Restaurant
1182,1/19/2014 15:46,Desafio Golf Course,148.22,Sten,Sanjorge Jr.,31.0,Executive,President/CEO,Park
1183,1/19/2014 19:45,Guy's Gyros,25.79,Sten,Sanjorge Jr.,31.0,Executive,President/CEO,Restaurant

In [154]:
joined_cc.to_csv('cc_data_joined.csv')

In [ ]:
joined = pd.merge(gps, car_assignments, left_on='id', right_on='CarID')

In [33]:
joined = joined.rename(columns={"Timestamp": "ts", "LastName": "Last", "FirstName": "First", 
                       "CurrentEmploymentType": "CETy", "CurrentEmploymentTitle": "CETi"})

joined

,ts,id,lat,long,Last,First,CarID,CETy,CETi
0,01/06/2014 06:28:01,35,36.076225,24.874689,Vasco-Pais,Willem,35.0,Executive,Environmental Safety Advisor
1,01/06/2014 06:28:01,35,36.076220,24.874596,Vasco-Pais,Willem,35.0,Executive,Environmental Safety Advisor
2,01/06/2014 06:28:03,35,36.076211,24.874443,Vasco-Pais,Willem,35.0,Executive,Environmental Safety Advisor
3,01/06/2014 06:28:05,35,36.076217,24.874253,Vasco-Pais,Willem,35.0,Executive,Environmental Safety Advisor
4,01/06/2014 06:28:06,35,36.076214,24.874167,Vasco-Pais,Willem,35.0,Executive,Environmental Safety Advisor
...,...,...,...,...,...,...,...,...,...
613072,01/19/2014 19:50:14,31,36.069647,24.895208,Sanjorge Jr.,Sten,31.0,Executive,President/CEO
613073,01/19/2014 19:50:16,31,36.069764,24.895248,Sanjorge Jr.,Sten,31.0,Executive,President/CEO
613074,01/19/2014 19:50:17,31,36.069952,24.895215,Sanjorge Jr.,Sten,31.0,Executive,President/CEO
613075,01/19/2014 19:50:21,31,36.070235,24.895215,Sanjorge Jr.,Sten,31.0,Executive,President/CEO
613076,01/19/2014 19:50:26,31,36.070632,24.895227,Sanjorge Jr.,Sten,31.0,Executive,President/CEO

In [12]:
joined.drop(columns=['id']).to_json("joined.json", indent=0)

In [38]:
car_assignments.CarID

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9     10.0
10    11.0
11    12.0
12    13.0
13    14.0
14    15.0
15    16.0
16    17.0
17    18.0
18    19.0
19    20.0
20    21.0
21    22.0
22    23.0
23    24.0
24    25.0
25    26.0
26    27.0
27    28.0
28    29.0
29    30.0
30    31.0
31    32.0
32    33.0
33    34.0
34    35.0
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
Name: CarID, dtype: float64

In [47]:
np.sort(joined.id.unique())

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35], dtype=int64)

In [13]:
joined.to_csv('gps-joined.csv')